.user_profile {
  &__header {

    .field--name-user-picture {
      position: relative;
      height: 175px;

      &::before {
          content: '';
          height: 262px;
          width: 100%;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          background-image: url('../scss/Images/heroBanner.png');
          background-size: cover;
        }

        img {
          position: absolute;
          height: 175px;
          width: 175px;
          border-radius: 100%;
          margin: auto;
          left: 50%;
          transform: translate(-50%, -50%);
          top: 150%;
          border: 5px solid $white;
          overflow: hidden;
        }
    }

    .field--name-field{
      &-full-name {
        margin-bottom: 0;
        padding-top: 1px;

        .field__label,
        .field__item {
          font-family: $primaryFont;
          width: fit-content;
          margin: auto;
          line-height: 40px;
          margin-top: 60px;
          font-size: 24px;
          font-weight: $bold;
        }
      }

      &-designation {
        .field__label {
          display: none;
        }
        .field__item {
          font-family: $secondaryFont;
          width: fit-content;
          margin: auto;
          font-size: 16px;
        }
      }
    }
  }

  &__links {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    height: 44px;
    max-width: 400px;

    a {
      width: 170px;
      border-radius: 50%;
      border: 1px solid $btn-gray;
      color: $btn-text-grey;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 16px;
    }

    .active {
      background-color: $color--form-bg;
      color: $purple;
      border: none;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 60px 0;
      font-family: 'Circular Air';
    }

    @media (max-width: 768px) {
      margin-inline: 30px;
    }
  }

  &__wrapper {
    max-width: 800px;
    margin: 45px auto 100px auto;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;
      margin-left: 30px;
    }

    .field {
      flex-basis: 50%;

      &__label {
        font-size: 20px;
        color: $label-text;
        font-weight: unset;
        @include mobile{
          font-size: 17px;
        }
      }

      &__item {
        font-family: $secondaryFont;
        font-weight: bold;
        font-size: 24px;
        @include mobile{
          font-size: 20px;
        }
      }
    }
  }
}

//quicktabs implementation
.quicktabs-wrapper {
  ul.quicktabs-tabs{
    @include mobile{
      margin: unset;
    }
    text-align: center;
    li{
      width: 170px;
      border: 1px solid #e9ebed;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 16px;
      a{
        color: #68737d;
        text-decoration: none;
      }
      &.active {
        a{
        color: $purple;
        }
        background-color: $color--form-bg;
        border: none;
      }
    }
  }

  .submit-session {
    max-width: 210px;
    margin: 30px auto 0;
  }
}

.view-meet-team {
  .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 24px;
    margin-top: 48px;

    @include mobile{
      gap: 16px;
    }

    > .views-row {
        flex-basis: calc((100% - 48px) / 3);
        max-width: 100%;
        margin: 0;
        background: #f4f4f4;
        position: relative;

        @include mobile{
          flex-basis: 100%;
        }
    }

    .group-content {
      padding: 32px;
      text-align: center;
      color: #fff;
      background-image: url(../scss/Images/SponsorBanner.png);
      width: 100%;
    }
  }

  .user--designation {
    color: #c2c8cc;
  }

  .user--profile-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;


    &:hover {
      + .user--content .group-content {
        color: #c0c;
      }
    }
  }

  .user--name {
    font-size: 24px;
  }
}
