<div class="about-camp">
  <h2 class="about-heading">{{ content.field_about_heading }}</h2>
  <h3 class="about-subheading">{{ content.field_about_camp_subheading }}</h3>
  <p class="about-desc">{{ content.field_about_camp_description }}</p>
</div>