
<div class ="under-maintenance">
    <div class ="text-area">
        <span class="small-head">404 error</span>
        <h4>Under maintenance</h4>
        <p>Sorry, the page you are looking for doesn't exist or has been moved. Try searching our site:</p>
        <div class ="CTA-box">
            <button class ="button2 go-back"><a href="">Go Back</a></button>
            <button class ="button1 homepage"><a href="{{ path('<front>') }}">Take me home</a></button>
        </div>
    </div>
    {{ content.field_error_image }}
</div>