<div class="sponsors-home">
<div class="sponsors-title">Sponsers</div>
<div class="sponsors-desc">Pune Drupal community is looking forward to its most amazing DrupalCamp ever and we hope you will join the community and business leaders in sponsoring DrupalCamp Pune.</div>
<div class ="cta-sponsor-button">
<a href="{{ paragraph.field_link.value.0.uri }}" target="/blank"><button class="cta-sponsor">{{ paragraph.field_link.value.0.title }}</button></a>
</div>
</div>