#block-coming-soon{
    .field--name-field-title-heading{
        font-family: $primaryFont;
        font-size: 64px;
        font-weight: 700;
        line-height: 68px;
        letter-spacing: -1.3700000047683716px;
        text-align: center;
        margin-bottom: unset;
    }
    .field--name-body{
        font-family: $secondaryFont;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: center;
    }
    .field--name-field-logo{
        width: 100%;
        margin: unset;
        img{
            margin: 0 auto;
        }
    }
}