.region--footer2{
    display: flex;
    color: white;
    justify-content: space-between;
    width: 50%;
    ul{
        margin: unset;
    }
    li{
        list-style: none;
        a{
            color: white;
            text-decoration: none;
            font-family: Helvetica;
        }
    }
    @include mobile{
        width: 100%;
    }
}
footer.page-footer-section{
    padding: 64px 60px 48px 60px;
    h2.foot1-head{
        font-family: $primaryFont;
        font-size: 42px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0px;
        text-align: left;
        color: white;
        margin-top: unset;
        margin-bottom: 16px;
        @include mobile{
            font-size: 30px;
        }
    }
    h2.block__title{
        color: #C2C8CC;
    }
    .footer-links{
        font-family: $secondaryFont;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: left;
        color: white;
        margin-bottom: 48px;
    }
}