body {
  background-image: none;
  background-color: transparent;
  font-family: $primaryFont;
}

.region--content {
  display: block;

  .node__content {
    .field--name-body {
      max-width: 1280px;
      margin: 0 auto;
      padding: 0 32px;

      @include mobile{
        padding: 0 16px;
      }
    }

  }

  #block-camp-tabs {
    max-width: 1100px;
    margin: 32px auto 0;
  }
}
footer.page-footer-section{
  background-image: url('../scss/Images/Footer.png');
  height: 454px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#block-camp-site-branding{
  img{
    position: relative;
    z-index: 1;
    max-height: 100%;
  }
}
.field--name-field-paragraph{
  .full-width-banner{
    margin-top: -35px;
    @include mobile{
    margin-top: -20px;
    }
    @include tablet{
      margin-top: -43px;
    }
  }
}
.region--hero{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../scss/Images/heroBanner.png');
  min-height: 326px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -9px;
  padding: 96px 60px;

  @include mobile{
    min-height: auto;
    padding: 60px 20px;
  }

  .page-title {
    color: #fff;
  }
}
.fab{
  color: #D8D8D8;
}
.button1{
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 55px;
  padding: 12px 20px;
  background: $purple;
  border: 1px solid $purple;
  height: auto;
  text-align: center;
  a {
    color: white;
    text-decoration: none;
    box-shadow: none;
    text-transform: uppercase;
  }
}
.button2{
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 55px;
  padding: 12px 20px;
  border: 1px solid #D8DCDE;
  height: auto;
  text-align: center;
  a {
    color:#2F3941;
    text-decoration: none;
    box-shadow: none;
    text-transform: uppercase;
  }
}
 .register-now,
 .become-sponsor {
   font-size: 16px;
   line-height: 24px;
   font-weight: 700;
   border-radius: 55px;
   padding: 12px 20px;
   background: $purple;
   border: 1px solid $purple;
   height: auto;
   text-align: center;
   color: white !important;
   text-decoration: none;
   box-shadow: none !important;
   text-transform: uppercase;

   &:hover {
     color: white;
   }

   a:hover {
     color: white;
   }
}

.become-sponsor-container {
  text-align: center;

}

header.page-header {

  z-index: 1;

  background: white;
  &.fixed {
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #ffffff; /* Set the background color of the header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a box shadow */
  }
}
.profile-name{
  font-family: $secondaryFont;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: #FF2370;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
  @include mobile{
    display: none !important;
  }

  &:after{
    content: "";
    height: 0.5rem;
    display: block;
    width: 0.5rem;
    border-color: #000;
    border: 1.67px solid #68737D;
    margin-left: 10px;
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
    margin-top: -4px;
    @include mobile{
      content: none;
    }
  }
}

.profile-dropdown-menu{
  display: none;
  &.open{
    display: block;
  position: absolute;
  left: -25%;
  top: 45px;
  z-index: 1;
  background: white;
  width: 240px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  ul{
    margin: unset;
    li{
      list-style: none;
      width: 240px;
      left: 0px;
      top: 0px;
      border-radius: 0px;
      padding: 10px 16px 10px 16px;
      &:first-child{
        border-bottom: 1px solid #E9EBED;
      }
      a{
        font-family: Helvetica;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        color: black;
        text-decoration: none;
      }
    }
  }
}
}
#block-camp-primary-local-tasks{
  .tabs{
    display: none;
  }
}
.cheeseburger-menu__title{
  display: none;
}

div#block-cheeseburgermenu{
  width: 100%;
  .cheeseburger-menu__main-navigation-area>div{
    border-bottom: 0px;
  }
  .cheeseburger-menu__side-trigger{
    margin-right: 14px;
   svg{
    fill: #000;
    margin: 0 0 0 auto;
  }
}
ul.cheeseburger-menu__mainmenu{
  li.cheeseburger-menu__item{
    margin-bottom: 44px;
    a span{
  font-family:$tertioryFont;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.31500008702278137px;
  text-align: left;
  color: #9FA0AE;
    }
    &.in-active-trail{
      a {
        text-decoration: none;
        span{
      font-family:$tertioryFont;
      font-size: 36px;
      line-height: 20px;
      letter-spacing: 0.31500008702278137px;
      text-align: left;
      color: #316CF4;
      }
    }
    }
  }
}
}
.buttoncta{
  display: flex;
  position: relative;
  @include mobile{
    display: none;
  }
  .register-now:first-child{
    margin-right: 10px;
  }
}
#block-camp-primary-local-tasks{
  display: none;
}
.node--type-landing-page{
  .node__author-image{
    display: none;
  }
}
.help{
    text-align: center;
}

.paragraph-font {
  font-family: 'Manrope', serif;
}

.js input.form-autocomplete {
  background-repeat: no-repeat !important;
}
