.paragraph--type--simple-text {
    text-align: center;
    margin: 100px 50px;

    p {
        font-size: 24px;
        font-style: $primaryFont;
        font-weight: $bold;
        line-height: 55px;
    }
}
.paragraph--type--sponsors {
    .field--name-field-sponsor {
        display: flex;
        max-width: 1200px;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 40px;

        @include mobile{ 
            justify-content: center;
        }
    }

    .field--name-field-image {
            border-bottom: 1px solid $color--border;
        img {
            padding-bottom: 10px;
        }
    }

    .paragraph--type--sponsor {
        max-width: 300px;
        transition: 0.3s;
        box-shadow: 1px 1px 10px 1px rgba(0,0,0,.2);
        border-top: 8px solid $color--lightViolet;
        padding: 20px;
        cursor: pointer;

        &:hover {
            box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
        }

        .field--type-link {
            text-align: center;
            margin: 15px 0 0 0;

            a {
                color: $black;
                text-decoration: none;
            }
        }
    }
}