.page-user-session-wrapper {
  background-color: $lightgrey;
  .session-text {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
    padding: 92px 0 42px;
    @media (max-width: 768px) {
      width: 80%;
      margin: 0 auto;
    }
  }
  .view-sessions-details {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 768px) {
      width: 80%;
      margin: 0 auto;
    }
    .view-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
      .views-row  {
        min-width: 356px;
        padding: 30px;
        text-align: left;
        @media (max-width: 768px) {
          width: 100%;
        }
        strong {
          font-family: $body-font;
        }
        .node__title {
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 0.315px;
          color: $label;
        }
        background-color: $white;
        border-left: 6px solid $color--lightViolet;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
        .field--name-field-session-category-,
        .field--name-field-experience-level,
        .field--name-field-speaker-consent {
          display: none;
        }
        .field--name-field-session-synopsis {
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 30px;
          letter-spacing: 0.315px;
          color: $label;
          margin-bottom: 0;
          p {
            padding-bottom: 20px;
          }
          &::after {
            content: '';
            width: 100%;
            border-bottom: 1px solid $color--border;
          }
        }
      }
    }
  }
}


//newcode implementation
.session-container{
  width: 353px;
    min-height: 236px;
    box-shadow: 0px 0px 8px 0px #0000001A;
    display: flex;
    @include mobile{
      width: 341px;
    }
    .category-border{
      width: 6.6px;
        margin-right:14px;
        &.beyond_drupal{
          background-color: $drupal_beyond;
        }
        &.drupal_backend{
          background-color: $drupal_backend;
        }
        &.drupal_frontend_design{
          background-color: $drupal_frontend;
        }
        &.qa_devops_infrastructure{
          background-color: $drupal_qa;
        }
        &.community{
          background-color: $drupal_community;
        }
        &.business_leadership{
          background-color: $drupal_business;
        }
    }
    .session-content{
       display: flex;
        flex-direction: column;
    }
    .review-status {
    margin-top: 24px;
    margin-bottom: 10px;
    height: 28px;
    width: 94px;
    border-radius: 16px;
    padding: 4px 12px 4px 12px;
    color: white;
    align-items: center;
    display: flex;
    justify-content:center;
    &.review-Off{
      background: #F6A98E;
    }
    &.review-On{
      background: #60BF91;
    }
    span{
      //styleName: textSm/medium;
      font-family: Helvetica;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;

    }
    }
    .session-title{
      font-family: $secondaryFont;
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 0.31500008702278137px;
      text-align: left;
      padding-bottom: 18px;
      border-bottom: 1px solid #DADBEC;
    }
    .session-author{
      margin-top: 18px;
      font-family: $primaryFont;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
    }
    .author-org{
      font-family: $secondaryFont;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0px;
      text-align: left;
      
    }
}
.view-header{
  margin: 0px 260px;
  @include mobile{
    margin: 0 17px;
  }
}
.view-session{
  .view-content{
    margin: 0px 260px;
    @include mobile{
      margin: 0 17px;
    }
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .views-row{
      @include mobile{
        margin-bottom: 10px;
      }
    }
  }
}