<div id="page-wrapper" class="page-wrapper">
  <div class="dcp-page-wrapper">
    <header class="page-header">
      {{ page.header }}
    </header>
    <section class="page-hero-section">
      {{ page.hero }}
    </section>
    <section class="page-hero-section">
      {{ page.content }}
    </section>
    <footer class="page-hero-section">
      {{ page.footer }}
    </footer>
  </div>
</div>
