<div id="page-wrapper" class="page-wrapper">
  <div class="dcp-page-wrapper">
    <header class="page-header">
      <div class="menu-wrapper">
        {{ page.header }}
      </div>
    </header>
    <section class="page-hero-section">
      {{ page.hero }}
    </section>
    <section class="page-hero-section">
      {{ page.content }}
    </section>
    <footer class="page-footer-section">
    <h2 class="foot1-head">Learn, connect, and Grow</h2>
    <div class="footer-links">#Drupal2023 #Bettertogether #techvibe #Collaborate</div>
      {{ page.footer2 }}
    </footer>
  </div>
</div>
