<div class="image-with-pattern">
  <div class="pattern-image-before">
    {{ content.field_before_pattern }}
  </div>
  <div class="main-image">
    {{ content.field_intro_image }}
  </div>
  <div class="pattern-image-after">
    {{ content.field_after_pattern }}
  </div>
</div>
