<div class="full-width-banner">

  <img src="{{ file_url(paragraph.field_background_image.entity.uri.value) }}" alt="{{ paragraph.field_image.alt }}">
  <div class="text-fields-wrapper">
    <div class="text-field">{{ paragraph.field_title.value }}</div>
    <div class="text-field">{{ paragraph.field_sub_title.value }}</div>
  </div>
</div>
