body {
  background-image: none;
  background-color: transparent;
  font-family: 'Archivo', sans-serif;
}

.region--content {
  display: block;
}
footer.page-footer-section{
  background-image: url('../scss/Images/Footer.png');
  height: 454px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#block-camp-site-branding{
  img{
    position: relative;
    z-index: 1;
  }
}
.field--name-field-paragraph{
  .full-width-banner{
    margin-top: -45px;
  }
}
.region--hero{
  background-image: url('../scss/Images/heroBanner.png');
  height: 326px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: -9px;
  padding: 96px 60px;
}
.fab{
  color: #D8D8D8;
}

 .register-now {
  height: 48px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 55px;
  padding: 12px 20px;
  background: $purple;
  border: 1px solid $purple;

a {
  color: white;
  text-decoration: none;
  box-shadow: none;
  text-transform: uppercase;
}
}
header.page-header {
  z-index: 1;
  
  background: white;
  &.fixed {
    width: 100vw;
    position: fixed;
    background: $purple;
    .menu--main {
     li a {
        color: $white;
      }
    }
    .register-now {
      background: $white;
      a {
        color: $purple;
      }
    }
  }
}
#block-socialmedialinks{
@include mobile{
  display: none;
}
}
.profile-name{
  font-family: $secondaryFont;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: #FF2370;
  text-transform: uppercase;
  display: flex;
  cursor: pointer;
  @include mobile{
    display: none;
  }

  &:after{
    content: "";
    height: 0.5rem;
    display: block;
    width: 0.5rem;
    border-color: #000;
    border: 1.67px solid #68737D;
    margin-left: 13px;
    transform: rotate(45deg);
    border-top: none;
    border-left: none;
    margin-top: 2px;

  }
}

.profile-dropdown-menu{
  display: none;
  &.open{
    display: block;
  position: absolute;
  right: 4%;
  top: 60px;
  z-index: 1;
  background: white;
  width: 240px;
  border-radius: 8px;
  ul{
    li{
      list-style: none;
      height: 40px;
      width: 240px;
      left: 0px;
      top: 0px;
      border-radius: 0px;
      padding: 10px 16px 10px 16px;

    }
  }
}
}