.region--hero{

    #block-pagetitle {
        .page-title {
            span {
                font-size: 72px;
                @include mobile {
                    font-size: 32px;
                    line-height: 46px;
                }
            }
        }
    }
    .field--name-field-main-heading{
        font-family: $primaryFont;
        font-size: 72px;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -0.02em;
        text-align: center;
        color: $white;
        @include mobile{
            font-size: 25px;
            margin-bottom: unset;
        }
    }
    .field--name-body p{
        font-family: $secondaryFont;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: $white;
    }
}