.full-width-banner {
  position: relative;
  width: 100%;
  height: auto;
}

.full-width-banner{
  background-image: url('../scss/Images/group.png');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  @include mobile{
    height: 63vh;
  }
  @include mobile_M{
    height: 80vh;
  }
}

.text-fields-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 60px;
  max-width: 659px;
  @include mobile{
    margin: 0px 16px;
    text-align: center;
  }
  .text-field-title{
    font-size: 72px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -1.3700000047683716px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 9px;
   @include mobile{
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.3500001132488251px;
    text-align: center;
   }
  }
  .text-field-welcome{
    font-family: $secondaryFont;
    font-size: 28px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.49583348631858826px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 24px;
    @include mobile{
      font-size: 30px;
      line-height: 40px;
      letter-spacing: 0.35000020265579224px;
      text-align: center;
    }
  }
  .text-field-date{
    font-family: $secondaryFont;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.49583348631858826px;
    text-align: left;
    color: #FC8309;
    margin-bottom: 24px;
    @include mobile{
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.49583348631858826px;
    text-align: center;
    }
  }
  .text-field-subtitle{
    font-family:$tertioryFont;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.44625020027160645px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 36px;
    @include mobile{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.44625020027160645px;
    text-align: center;
    }
  }
  button.action{
    height: 48px;
    width: 186px;
    left: 0px;
    top: 0px;
    border-radius: 55px;
    padding: 12px 20px 12px 20px;
    background: #FFFFFF;
    border-color: transparent;
    cursor: pointer;

  }
}

