#block-coming-soon{
    .field--name-field-title-heading{
        font-family: $primaryFont;
        font-size: 64px;
        font-weight: 700;
        line-height: 68px;
        letter-spacing: -1.3700000047683716px;
        text-align: center;
    }
}