#block-twitterblock {
    margin: 0px 60px; // Adjusted margin for mobile view
    width: 90vw; // Adjusted width for mobile view
    @include mobile{
        margin: 0px 16px;
        width: 92vw;
    }
    
    .block__title {
      font-family: $primaryFont;
      font-size: 28px; // Adjusted font-size for mobile view
      font-weight: 700;
      line-height: 30px; // Adjusted line-height for mobile view
      letter-spacing: -0.02em;
      text-align: left;
      color: $black;
    }
  }
  
  #block-tweet1{
    h2{
    margin: 36px 60px;
    }
      .twitter-block{
      display: flex;
      justify-content: space-around;
      }
    }