// Variables & mixins
@import './Components/Global/variables';
@import './Components/Global/layout';
@import './Components/Global/mixins';
// Import components

@import './Components/Hero/hero';
@import './Components/Hero/heroblock';
@import './Components/Sponsors/sponsor';
@import './Components/Sponsors/sponsorHome';
@import './Components/Global/global';
@import './Components/Global/form';
@import './Components/About/about';
@import './Components/PatternImage/patternimage';
@import './Components/Video/video';
@import './Components/Navigation/main-menu';
@import './Components/Session/sessionform';
@import './Components/User/user';
@import './Components/User/session-user';
@import './Components/Twitter/twitter';
@import './Components/GoogleMap/map';
@import './Components/Faq/faq';
@import './Components/404-ComingSoon/404page';
@import './Components/404-ComingSoon/comingsoon';

.node__meta span {
  display: none;
}
@import './Components/PatternImage/patternimage';
@import './Components/Footer/footer';

nav#block-mainnavigation{
    @include laptop {
        display: none;
    }
}