.region--hero{
    .field--name-field-main-heading{
        font-family: $primaryFont;
        font-size: 72px;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -0.02em;
        text-align: center;
        color: $white;
    }
    .field--name-body p{
        font-family: $secondaryFont;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
        color: $white;
    }
}