.page-header {
  .menu-wrapper {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
  }
  .block-system-branding-block {
    background: transparent;
    min-height: auto;

    .site-branding__name {
      display: none;
    }

    .site-branding__inner {
      margin-top: 30px;
    }
  }
  
  .menu--main {
    ul {
      &.menu--level-1 {
        gap: 32px;
        list-style: none;
        display: flex;
        justify-content: right;
        align-items: center;

        a {
          color: $primary;
          text-decoration: none;
        }
      }  
    }
  }
  &.navbar-fixed {
    background-color: rgb(12,18,82);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background 0.4s, all 0.3s linear;
    z-index: 9;
    .site-branding__logo {
      width: 100px;
      img {
        object-fit: contain;
        width: inherit;
      }
    }
    .menu--main {
      li {
        a {
          color: white;
        }
      }
    }
  }
}

.block-cheeseburger-menu  {
  margin-right: 30px;
  .block-cheeseburgermenu__trigger-element {
    background-color: $purple;
    span {
      background: $white;
    }
  }
}